@import 'primereact/resources/themes/saga-blue/theme.css';
@import 'primereact/resources/primereact.css';
@import 'primeflex/primeflex.css';
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --primary-color: #025288 !important;
    --success-color: #30CD1C !important;
    --warning-color: #FFCC00 !important;
    --danger-color: var(--red-500) !important;
    --dark-color: #141414 !important;
    --light-color: #f2f2f2 !important;
    --light-blue-color: #99C7DE !important;
    --font-general: 'Instrument Sans', sans-serif;

    color: var(--primary-color);
    background-color: var(--light-color);
    font-family: 'Instrument Sans';
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p-splitter {
    background: unset;
    border: unset;
}

.p-inputtext:focus {
    box-shadow: 0 0 0 0.2rem rgba(2, 82, 136, 0.5);
}

.p-inputtext:hover {
    border: 1px rgba(2, 82, 136, 0.5) solid;
}

.p-inputwrapper-focus {
    box-shadow: 0 0 0 0.2rem rgba(2, 82, 136, 0.5);
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

::-webkit-scrollbar {
    width: 4px;
    background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
    background: #dad7d7;
}