.login-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.login-img {
  background-image: url('../imgs/general/login-img.jpg');
}

.login-form {
  background-color: var(--primary-color);
}

.login-form-mobile {
  background-color: var(--primary-color);
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: fixed;
}

.login-form img {
  width: 75%;
  margin-bottom: 1rem;
}

/* Logo */
.login-form-mobile img {
  width: 75%;
  margin-bottom: 1rem;
}

/* Inputs */
.login-form input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-family: var(--font-general);
}

.login-form-mobile input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-family: var(--font-general);
}

/* Botão */

.separator-wrapper-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
  width: 100%;
}

.separator-line-mobile {
  flex: 1;
  height: 1px;
  background-color: #ffffff80;
  /* branco com transparência */
  margin: 0 10px;
}

.separator-text-mobile {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  white-space: nowrap;
}

/* Link criar conta */
.login-form a {
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
  transition: 0.3s;
}

.login-form a:hover {
  text-decoration: underline;
}

.login-form-mobile a {
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
  transition: 0.3s;
}

.login-form-mobile a:hover {
  text-decoration: underline;
}

@media (max-width: 425px) {
  .login-img {
    min-height: 100vh;
    min-width: 100% !important;
  }
}

  @media (max-width:425px) {
    .login-img div p {
      font-size: 1.1rem;
      padding: 0 3rem 0 0;
    }
  }